@using DungeonsAndDragons.Domain
@model Spell


<div class="center">
    <h2>@Model.Name</h2>
    @if(Model.Creator!=null){
        <p>Created by: <a asp-action="" asp-route-id="@Model.Creator.Id">@Model.Creator.UserName</a></p>
    }
    <p>Spell Type: @Model.SpellType</p>
    <p>School of Magic: @Model.MagicSchool</p>
    <p>Casting time: @Model.CastingTime</p>
    <p>Range: @Model.Range</p>
    <p>Components: @Model.Components</p>
    <p>Duration: @Model.Duration</p>
    <p>@Model.Description</p>
    <p>Source: @Model.Source</p>
</div>
